<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="https://www.nirvanahq.com/account/login"/>
    <add key="validUserName" value="AjtpXUJFQz5vzrYLY9RUqv+tThdZ/9XT"/>
    <add key="validPassword" value="MEVj1+uV2rt2GCz5xffh+Q=="/>
  </appSettings>
</configuration>