<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" /></specFlow>

  <appSettings>
    <add key="baseUrl" value="https://www.nirvanahq.com/account/login"/>
    <add key="validUserName" value="AjtpXUJFQz5vzrYLY9RUqv+tThdZ/9XT"/>
    <add key="validPassword" value="MEVj1+uV2rv+JAweOC1FOQ=="/>
  </appSettings>
  
</configuration>